*{
  font-family:  Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  
}


.parent{
  display: flex;
  height: 100vh;
  column-gap: 4px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  
}

.child{
  text-align: center;
  
}



.child small{
  display: block;
  height: 50px  ;
  width:  160px ;
  border: 1px solid rgb(121, 114, 114);
  padding: 10px;
  color:rgb(121,114,114) ;
  font-size: 20px;
  text-align: center;
}